.ChatSide
  .ChatSide__header
    .ChatSide__header__box
      %p.ChatSide__header__box__username 
        = current_user.name
      %ul.ChatSide__header__box__menu
        %li.ChatSide__header__box__menu__newgroup
          =link_to new_group_path, class: "icon" do
            %i.fa.fa-edit
        %li.ChatSide__header__box__menu__edituser
          =link_to edit_user_path(current_user), class: "icon" do
            %i.fa.fa-cog
  .ChatSide__groups
    - current_user.groups.each do |group|
      .ChatSide__groups__group
        =link_to group_messages_path(group) do
          %p.ChatSide__groups__group__groupname 
            = group.name
          %p.ChatSide__groups__group__latestmessage 
            = group.show_last_message




    