.ChatMain
  .ChatMain__header
    .ChatMain__header__left-box
      %h2.ChatMain__header__left-box__current-group
        testのグループ
      %ul.ChatMain__header__left-box__member-list
        Member：
        %li.ChatMain__header__left-box__member-list__member NAME
    %a{:href => "#"}
      .ChatMain__header__edit-btn Edit

  .ChatMain__messages
    .ChatMain__messages__message                      
      .ChatMain__messages__message__upper-info
        %p.ChatMain__messages__message__upper-info__talker 田中
        %p.ChatMain__messages__message__upper-info__date 2019/11/09(Sat) 13:41:19
      %p.ChatMain__messages__message__text 田中です
  
  .ChatMain__form
    %form#new_message.ChatMain__form__new_message{"accept-charset" => "UTF-8", :action => "#", :enctype => "#", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => "#"}/
      .ChatMain__form__new_message__input-box
        %input#message_content.ChatMain__form__new_message__input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
        %label.ChatMain__form__new_message__input-box__image{:for => "message_image"}
          %i.fa.fa-image
          %input#message_image.ChatMain__form__new_message__input-box__image__file{:name => "message[image]", :type => "file"}/
      %input.ChatMain__form__submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/

