.ChatSide
  .ChatSide__header
    .ChatSide__header__box
      %p.ChatSide__header__box__username NAME
      %ul.ChatSide__header__box__menu
        %li.ChatSide__header__box__menu__newgroup
          %a{:href => "#"}
            %i.fa.fa-edit
        %li.ChatSide__header__box__menu__edituser
          %a{:href => "#"}
            %i.fa.fa-cog
  .ChatSide__groups
    %a{:href => "#"}
      .ChatSide__groups__group
        %p.ChatSide__groups__group__groupname testのグループ
        %p.ChatSide__groups__group__latestmessage まだメッセージがありません





    